* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #121213;
  border: 1px solid #121213;
  color: rgb(247, 243, 243);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #121213;
  border-color: #121213;
}